<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="'Жанр: ' + ${genre.Genre_Name}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
<div th:insert="fragments/header :: mainheader"></div>
<div th:each="el:${genre}">
    <form th:object="${genre}" method="post">
        <input th:field="*{Genre_Name}" type="text" name="Genre_Name" placeholder="Введите название жанра">
        <div style="color: red " th:if="${#fields.hasErrors('Genre_Name')}" th:errors="*{Genre_Name}"></div>
        <br>
        <button type="submit" class="btn btn-outline-primary">Сохранить изменения</button>
    </form>
</div>
<div th:insert="fragments/footer :: mainfooter"></div>
</body>
</html>