<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Создание альбома</title>
    <link rel="stylesheet" href="" th:href="@{/css/style.css}" >
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
<div th:insert="fragments/header :: mainheader"></div>
<div class="div-panel">
    <h1>Добавление альбома</h1>
    <form th:object="${album}" th:action="${'/album/add'}" method="post">
        <p>Введите название альбома</p>
        <input th:field="*{albumname}" type="text" name="albumname" placeholder="Название альбом">
        <div style="color: red " th:if="${#fields.hasErrors('albumname')}" th:errors="*{albumname}"></div>
        <br/>
        <p>Выберите дату альбома</p>
        <input th:field="*{releasedate}" type="date" name="releasedate">
        <div style="color: red " th:if="${#fields.hasErrors('releasedate')}" th:errors="*{releasedate}"></div>
        <p>Добавьте обложку альбома</p>
        <input class="form-control" th:field="*{photo}" type="file" name="Photo" placeholder="Добавить обложку">
        <div style="color: red " th:if="${#fields.hasErrors('photo')}" th:errors="*{photo}"></div>
        <p>Выберите исполнителя: </p>
        <select class="form-select" name="artist">
            <div th:each="el : ${artist}">
                <option th:text="${el.artistname}" th:value="${el.id}"></option>
            </div>
        </select>
        <div style="color: red " th:if="${#fields.hasErrors('artists')}" th:errors="*{artists}"></div>
        <br>
        <button type="submit" class="btn btn-outline-primary mybtn">Добавить</button>
    </form>
    <a href="/" class="btn btn-outline-secondary mybtn">Назад</a>
</div>
<div th:insert="fragments/footer :: mainfooter"></div>
</body>
</html>