<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Связь альбома альбома</title>
  <link rel="stylesheet" href="" th:href="@{/css/style.css}" >
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
<div th:insert="fragments/header :: mainheader"></div>

<div class="div-panel">
  <h1>Связать альбом с произведением</h1>

  <form th:object="${albums}" th:action="${'/album/con'}" method="post">
    <p>Альбом: </p>
    <select class="form-select" name="albums">
      <div th:each="el: ${albums}">
        <option th:text="${el.albumname}" th:value="${el.id}"></option>
      </div>
    </select>
    <p>Произведение: </p>
    <select class="form-select" name="tracks">
      <div th:each="el: ${tracks}">
        <option th:text="${el.trackname}" th:value="${el.id}"></option>
      </div>
    </select>
    <button type="submit" class="btn btn-outline-primary mybtn">Связать</button>
  </form>
  <a href="/" class="btn btn-outline-secondary mybtn">Назад</a>
</div>


<div th:insert="fragments/footer :: mainfooter"></div>
</body>
</html>